@media(max-width:1199.5px){
    /*Custom CSS*/
    .card{
        padding: 2.5rem 1.875rem;
    }
    
    /*Header*/
    .header-wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }

    /*Top Banner*/
    .banner-wrapper .animated-img .aimg1{
        left: -3.125rem;
    }

    /*About*/
    .about-wrapper .card{
        width: 100%;
    }
    .about-wrapper .about-animate{
        left: 0.9735rem;
    }

    /*Services*/
    .services-wrapper .card{
        padding: 1.875rem 0.875rem;
    }
}

@media(max-width:991px){
    /*Custom CSS*/
    .wrapper{
        padding: 3.125rem 0;
    }
    .main-btn{
        font-size: 0.875rem;
    }
    h1{
        font-size: 2.185rem;
        margin-bottom: 0.625rem;
    }
    h2{
        font-size: 1.185rem;
    }
    h3{
        font-size: 1.5625rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1.125rem;
    }
    p{
        font-size: 0.875rem;
        line-height:1.35rem ;
    }
    .card{
        padding: 1.875rem 1rem;
    }
    /*Header*/
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .nav-item .nav-link{
        margin-top: 0.9735rem;
    }

    /*Top Banner*/
    .banner-wrapper p{
        width: 100%;
    }

    /*About*/

    .about-wrapper .card{
        width: 100%;
    }
    .about-wrapper .about-animate{
        width: 9.875rem;
    }
    .about-wrapper .about-clinic:nth-child(1),
    .about-wrapper .about-clinic:nth-child(2){
    margin-bottom: 1.5625rem;
    }
    .about-wrapper .about-clinic:nth-child(2),
    .about-wrapper .about-clinic:nth-child(4){
    padding-left: 2.375rem;
    }

    /*Blog*/
    .blog-wrapper .card .blog-content{
        padding: 1.875rem 0.625rem;
    }
}
@media(max-width :767px){
    /*Custom CSS*/
    .main-btn{
        font-size: 0.875rem;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
   /* About*/
   .about-wrapper .about-animate{
    width: 9.875rem;
    }

    /*Services*/
    .services-wrapper .card{
        text-align: center;
    }

    /*Blog*/

    /*Footer*/
    .footer-wrapper>div{
        padding: 0 1.875rem;
    }
}

@media(max-width:360px){
    
    
    /*About*/
    .about-wrapper .about-animate{
        width: 6.875rem;
    }
    .about-wrapper .card{
        padding: 1.125rem 0.3125rem;
    }
    .about-wrapper .about-clinic:nth-child(2),
    .about-wrapper .about-clinic:nth-child(4){
    padding-left: 0.625rem;
    }

    /*Services*/
    .services-wrapper .icon-box{
        margin-bottom: 0.9375rem;
    }
}

